<!DOCTYPE html>
<html>
<head>
	<title>Hi New Wombat Friend</title>
</head>
<body>
	<h3>Create a New friend</h3>
	<form action="/wombats" method="post">
		<h3>Name: </h3><input type="text" name="name"><br>
		<h3>Sex: </h3><input type="text" name="sex"><br>
		<h3>Weight: </h3><input type="text" name="weight"><br>
		<input type="submit" value="SUBMIT BITCHES">
	</form>
</body>
</html>