<!DOCTYPE html>
<html>
<head>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="main.js"></script>
	<title>who the fuck cares</title>
</head>
<body ng-app="app">
	<div ng-controller="productController">
		<form ng-submit="submit()">
			<h1>Products Name: </h1><input type="text" ng-model="newproduct.name">
			<h1>Products Price: </h1><input type="number" ng-model="newproduct.price">
			<input type="submit" value="Add Product">
		</form>
		<table>
			<ul>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Action</th>	
				</tr>
				<tr ng-repeat="product in products">
					<td>{{product.name}}</td>
					<td>{{product.price | currency : symbol : fractionSize}}</td>
					<td><button ng-click="delete(product)">Delete Me</button></td>
				</tr>
			</ul>
		</table>
	</div>
	
</body>
</html>


